$white: #ffffff;
$black: #000000;
$shark: #232328;
$dead-pixel: #3A3A3A;
$gray: #818181;
$nevada: #686B6F;
$pervenche:#177CAB;
$denim: #157FAC;
$picton-blue: #42B1E5;
$kodama: #e8f6fc;
$boulder: #757575;

$scrollba-thumb: #9a9b9c;
$scrollba-track: #d3d4d5;

$desktop-screen: 'min-width: 1024px';
$tablet-screen: 'min-width: 768px';
$mobile-screen: 'min-width: 640px';
$xs-mobile-screen: 'min-width: 440px';